<%= simple_form_for([:admin, :forest, :feed, @token]) do |f| %>
  <%= f.error_notification %>
  <% if f.error(:base).present? && f.error(:base) != '<div></div>' %>
    <div class="mt-1 alert alert-danger w-100">
      <%= f.error(:base) %>
    </div>
  <% end %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @token %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@token) %></h1>
        <div class="card-body">
          <div class="form-inputs">
            <div class="row small-gutters">
              <div class="col-md-6">
                <%= f.input :service, placeholder: 'Instagram', hint: 'The name of the service, e.g. Instagram.', input_html: { value: f.object.try(:service).presence || 'Instagram' } %>
                <%= f.input :user_id, label: 'User ID', hint: 'The numeric user ID of your Instagram profile. The user ID can be found by clicking the "view and edit" button when viewing the app within your Instagram settings.' %>
                <%= f.input :user_display_name, hint: 'The handle or display name of your Instagram profile.' %>
              </div>
              <div class="col-md-6">
                <%= f.input :code, label: 'Secret token', hint: 'The token generated from the service. Treat this code like a private password and keep it secret.' %>
                <%= f.button :submit, class: 'btn-success d-md-none' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
