<%= render 'admin/headers/index', records: @tokens, model_name: 'Forest::Feed::Token' %>

<div class="table-responsive">
  <table class="forest-table table table-striped table-sm">
    <thead>
      <tr>
        <% if Forest::Feed::Token.statusable? %>
          <th></th>
        <% end %>
        <th><%= table_sorter title: 'ID', path: :admin_forest_feed_tokens_path, scope: :by_id, default_order: :desc %></th>
        <th>Service</th>
        <th>User&nbsp;ID</th>
        <th>Display&nbsp;Name</th>
        <th>Token</th>
        <th><%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :admin_forest_feed_tokens_path, scope: :by_created_at, default_order: :desc %></th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :admin_forest_feed_tokens_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tokens.each do |token| %>
        <tr>
          <% if Forest::Feed::Token.statusable? %>
            <td><%= status_indicator token %></td>
          <% end %>
          <td><%= token.id %></td>
          <td><%= token.service %></td>
          <td><%= token.user_id %></td>
          <td><%= token.user_display_name %></td>
          <td><%= content_tag :input, nil, value: token.code, readonly: true, class: 'form-control form-control-sm' %></td>
          <td><%= forest_date token.created_at %></td>
          <td><%= forest_date token.updated_at %></td>
          <td width="1">
            <%= link_to 'Edit', edit_admin_forest_feed_token_path(token), class: 'btn btn-xs btn-primary', role: 'button' %>
          </td>
          <% if try('forest_feed_token_path', token) %>
            <% if token.respond_to?(:to_friendly_param) %>
              <% param = token.to_friendly_param %>
            <% else %>
              <% param = token %>
            <% end %>
            <td width="1">
              <%= link_to 'Show', forest_feed_token_path(param), class: 'btn btn-xs btn-info', role: 'button', data: { turbolinks: false } %>
            </td>
          <% end %>
          <td width="1">
            <%= link_to 'Destroy', [:admin, :forest, :feed, token], method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure you want to destroy this Token?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= pagy_bootstrap_nav_js(@pagy).html_safe if @pagy.pages > 1 %>
