<%= simple_form_for([:admin, :forest, :feed, @item]) do |f| %>
  <%= f.error_notification %>
  <% if f.error(:base).present? && f.error(:base) != '<div></div>' %>
    <div class="mt-1 alert alert-danger w-100">
      <%= f.error(:base) %>
    </div>
  <% end %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @item %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@item) %></h1>
        <div class="card-body">
          <div class="form-inputs">
            <div class="row small-gutters">
              <div class="col-md-6">
                <%= f.input :service %>
                <%= f.input :user_id, label: 'User ID' %>
              </div>
              <div class="col-md-6">
                <%= f.input :user_display_name, label: 'Username' %>
                <%= f.button :submit, class: 'btn-success d-md-none' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if @item.media_items.present? %>
        <div class="card my-3">
          <h1 class="h3 card-header">Media</h1>
          <div class="card-body">
            <div class="form-inputs">
              <div class="row small-gutters">
                <div class="col-md-12">
                  <div class="row small-gutters mb-n3">
                    <% @item.media_items.each do |media_item| %>
                      <% if media_item.image? %>
                        <div class="col-4 col-md-3 col-xl-2 mb-3">
                          <%= link_to image_tag(media_item.attachment_url(:medium)), edit_admin_media_item_path(media_item), class: 'blank-link', target: '_blank' %>
                        </div>
                      <% elsif media_item.video? %>
                        <div class="col-4 mb-3">
                          <%= video_tag media_item.attachment_url, controls: true %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card bg-light my-3">
        <h1 class="h3 card-header">Data</h1>
        <div class="card-body">
          <pre class="mb-0"><code><%= JSON.pretty_generate(f.object.data) %></code></pre>
        </div>
      </div>
    </div>
  </div>
<% end %>
